<div id="bodySection" class="container-fluid" style="padding: 30px">
    <form action="/admin/user/profile" method="POST">
    <div class="form-group">
      <input type="text" id="name" name="name" > Your Full Name</input>
      <img src="">
      <input type="text" id="email" name="email" />
      <input type="text" id="phonenumber" name="phonenumber" value="Phone Number"/>
      <input type="text" id="occupation" name="occupation" />
      <input type="text" id="address" name="address"/>
    </div>
          <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>