<div id="header" class="container-fluid">
			<div id="homePageHead" class="row">

					<div id="headWebTitle" class="col">
						<h1 id="head1">Resource</h1>
						<h1 id="head2">Sharing</h1>
					</div>
					<div id="enterRegister" class="col">
						
						<a href="/admin/admin/adminlogin" class="btn btn-primary" id="loggedin">Login In</a>
						<a href="/admin/admin/adminregister" class="btn btn-primary" id="register">Register</a>
						<a href="/logout" class="btn btn-primary" id="loggedin">Logout</a>
					</div>
			</div>
</div>