<div id="bodySection" class="container-fluid">
		    <div class="row" >
		        <div class="col" id="loginFormID">
			          <form action="/contact" method="POST">
			              <p>
			                <h4><center>Contact Us</center></h4><br>
			               <input type="text" name="name" placeholder="Your Full Name" id="enterName" required>
			             <br>

			                <input type="text" name="email" placeholder="Your Email Address" id="enterEmail" required>
			             <br>
			                
			                <textarea id="contactMessage" name="textmessage" placeholder="Your Message"></textarea>
			             <br>
			             	<input type="file" name="image">
			             <br>	
			                <button type="submit">Submit</button>
			                <br>
			               
			              </p>

			          </form>
		        </div>
		    </div> 
		</div>