<div id="footer" class="container-fluid">
			<div id="footer-main" class="row">
				<div id="footerColumnLeft" class="col">
					About Us. Click Here.
					
				</div>
				<div id="footerColumnRight" class="col">
					Contact Us. Click Here.
				</div>
			</div>
</div>