<div id="bodySection" class="container-fluid">
      <div class="row" >
        <div class="col" id="loginFormID">
          <form method="post" action="/login">
              <p>
                <h4><center>To Login Enter your details.</center></h4><br>
               
                <input type="text" name="username" placeholder="Enter Username">
             <br>
                
                <input type="password" name="password" placeholder="Enter Your Password">
              <br>
                <button class="btn btn-primary" type="submit">Login In</button>
               
              </p>
              <br>
              <label> If New User, go for Registration </label>
          </form>
        </div>
      </div>  
</div>