<div id="bodySection" class="container-fluid">
      <div class="row" >
        <div class="col" id="registrationFormID"> 
          <form method="post" action="/register">
              <p>
                <h4><center>Register yourself by completely filling this form.</center></h4><br>
                <input type="text" name="name" placeholder="Enter Your Full Name">
             <br>
                <input type="text" name="email" placeholder="Enter Valid Email Address">
             <br>
                <input type="text" name="username" placeholder="Create Username">
              <br>
                <input type="text" name="password" placeholder="Enter Your Password">
              <br>
                <input type="text" name="confirmpassword" placeholder="Confirm Your Password">
              <br>
                <input type="submit" action="register" placeholder="Register">
              </p>
          </form>
        </div>
      </div>  
</div>